#list-area.news {
  .contents {
    .topic-list {
      width: 100%;

      tbody {
        width: 100%;

        .news-item {
          max-width: 100%;
          width: 100%;
          box-sizing: border-box;

          .news-item-thumbnail {
            float: initial;
            margin-bottom: 10px;

            img {
              height: 200px !important;
              width: 100% !important;
            }
          }

          .news-item-title {
            margin-bottom: 5px;

            a {
              font-size: 25px;
              line-height: 34px;
            }
          }

          .news-item-body {
            margin-top: 0;
          }
        }
      }
    }
  }
}
