a.header-nav-link {
  margin-right: 10px;
  font-size: 1.1em;
  color: $primary;

  &.active {
    font-weight: 700;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.main-content.news .list-controls {
  margin: 0;
}

#list-area.news {
  .contents {
    text-align: center;

    .topic-list {
      display: inline-block;
      width: 700px;
      text-align: left;

      thead {
        display: none;
      }

      tbody {
        border-top: none;
        width: 100%;
        display: block;

        td {
          padding: 0;
        }

        tr {
          margin-top: 40px;
          display: inline-block;
        }

        tr.topic-list-item:first-of-type .topic-thumbnail {
          margin-top: 0;
        }

        .news-item {
          width: 100%;
          box-sizing: border-box;

          .topic-thumbnail {
            float: initial;
            margin-bottom: 20px;
            padding: 0;
          }

          .topic-title {
            margin-bottom: 15px;

            a {
              font-size: 35px;
              line-height: 40px;
            }
          }

          .topic-details .topic-excerpt {
            max-height: initial;
          }

          .topic-gutter {
            margin: 10px 0;
            display: flex;
          }

          .topic-actions {
            margin-left: auto;
          }

          button.share {
            margin-left: auto;
          }

          .topic-actions + button.share {
            margin-left: initial;
          }
        }
      }
    }
  }

  .topic-list-bottom {
    display: none;
  }
}
